body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: white;
}

/* Screens */
.screen {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

button {
    background: white;
    color: #ff4b5c;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff4b5c;
    color: white;
}

.container {
    margin: 20px;
}

.content {
    margin-top: 20px;
}

textarea {
    width: 60%;
    height: 100px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
